.zombiegame {
    text-align: center;
    background-color: #646C8F;
    color: #DCC3A1;
    margin-top: 20px;
    padding-top: 25px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
  }